body{
 background-image: url(lap03.jpg);
  
}
#gaurav{
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#ram1{
    margin-top: 10px;

}
#ram2{

}
#back{
    border-radius: 10px;
}
#gaurav1{
    margin-top: 20px;
}
#gaurav3{
    background-color: #959595 ;
    border-radius: 10px;
}




























}